@charset "utf-8";
.resume-1{
	width: 650px;
	height: 798px;
	margin: 50px auto 0;
	padding-left: 6px;
	background-color: #fff;
	box-shadow: 0 0 5px 2px #ddd;
	box-sizing: border-box;
}
p span:nth-child(1),p span:nth-child(3),p span:nth-child(5){
	margin-right: 4px;
}
p span:nth-child(2),p span:nth-child(4){
	margin-right: 34px;
}
.resume-1 .des{
	line-height: 24px;
	font-weight: bolder;
}
.resume-1 .first{
	margin-top: 18px;
}
.resume-1 .content{
	margin-bottom: 13px;
}